@media (min-width: 1024px) {
  @keyframes arcTilt {
    from {
      transform: perspective(1000px) rotateX(20deg);
    }
    to {
      transform: perspective(1000px) rotateX(-3deg);
    }
  }

  .arc-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    transform: perspective(1000px) rotateX(5deg);
    animation: arcTilt 0.25s ease-out forwards;
  }

  body {
    overflow-x: hidden;
  }
}
